@model AppBlog.Areas.Admin.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-9 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tạo mới Danh mục</h4>

                        <form class="forms-sample" asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassword" method="post" >

                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PasswordNow">Mật khẩu hiện tại</label>
                                        <input type="text" class="form-control" asp-for="PasswordNow" placeholder="PasswordNow">
                                    </div>
                                </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Password">Mật khẩu mới</label>
                                    <input type="text" class="form-control" asp-for="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                                    <input type="text" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button asp-action="Index" class="btn btn-light">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>



