@model List<Category>
@if (Model != null)
{
    <div class="widget-content">
        <ul class="submenu">
            @foreach (var category in Model)
            {
                <li><a href="/@category.Alias">@category.CatName</a></li>
            }
        </ul>
    </div>
}
