<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/adminassets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/adminassets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/adminassets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/adminassets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/adminassets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/adminassets/images/favicon.png" />
</head>

<body>
   @RenderBody()
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/adminassets/js/off-canvas.js"></script>
    <script src="~/adminassets/js/hoverable-collapse.js"></script>
    <script src="~/adminassets/js/template.js"></script>
    <script src="~/adminassets/js/settings.js"></script>
    <script src="~/adminassets/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>